.container {
  margin: auto;
  height: calc(100vh - 200px);
}

.loginWarp {
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  border: solid 3px black;
  border-radius: 20px;
  ;
}

.loginWarp h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.loginWarp input {
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 20px;
  border: 2px solid black;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  border-radius: 15px;
}

.loginWarp input::placeholder {
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

.loginWarp input:focus {
  outline: none;
}

.loginWarp button {
  width: 100px;
}

.btnWarp {
  display: flex;
  justify-content: space-between;
}