.MainWrap {
  background-color: #82f9b7;
  box-sizing: border-box;
  height: calc(100vh - 150px);
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.MainTitle {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.5rem;
  margin-left: 4%;
  /* margin이 안먹어서 넣는 padding */
  /* margin-top: 100px; */
  padding-top: 60px;
}

.MainTitle h1 {
  font-size: 5rem;
}
.userCheck {
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
  width: auto;
  display: inline;
}
.userCheck:hover {
  text-decoration: underline;
}

.btnContainer {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 11%;
}

.btnContainer button {
  font-size: 22px;
}

.btnContainer button:hover {
  width: 225px;
  font-size: 24px;
  font-weight: 700;
  background-color: #2309aa;
  transition-property: width, font-size, font-weight;
  transition-duration: 0.5s;
}
