.MainWrap {
  background-color: #82f9b7;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}

.MainTitle {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.5rem;
  margin-left: 4%;
  /* margin이 안먹어서 넣는 padding */
  /* margin-top: 100px; */
  padding-top: 100px;
}

.MainTitle h1 {
  font-size: 5rem;
}

.btnContainer {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
}
