.MainWrap {
  background-color: #82f9b7;
  background-image: url("../../public/main_img.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 20rem 20rem;
  box-sizing: border-box;
  height: calc(100vh - 150px);
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 30px;
}

.MainTitle {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.5rem;
  padding-top: 60px;
}

.MainTitle h1 {
  font-size: 5rem;
}
.userCheck {
  font-size: 1.3rem;
  color: #535453;
  cursor: pointer;
  width: auto;
}
.userCheck:hover {
  text-decoration: underline;
}

.btnContainer {
  margin: 0 0 10px 0;
}

.btnContainer button {
  font-size: 22px;
}

.btnContainer button:hover {
  width: 225px;
  font-size: 24px;
  font-weight: 700;
  background-color: #2309aa;
  transition-property: width, font-size, font-weight;
  transition-duration: 0.5s;
}
