.joinWarp {
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  border: solid 3px #333;
  border-radius: 20px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  box-shadow: 10px 5px 5px rgba(187, 201, 229, 0.8);
}

.joinWarp h2 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
}

.inputWarp {
  margin-bottom: 20px;
}

.inputWarp span {
  color: rgb(250, 79, 79);
  font-size: 14px;
  font-weight: 700;
}

.inputWarp input {
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 5px;
  border: 2px solid #333;
  font-weight: 700;
  border-radius: 15px;
}

.inputWarp input::placeholder {
  color: #333;
  font-weight: 700;
}

.inputWarp input:focus {
  outline: none;
}
